.block {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.title {
  color: blue;
  font-size: 30px;
  font-weight: bold;
}

.board {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.block:hover {
  background-color: lightblue;
}

.row {
  display: flex;
}
