body {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
}

.board {
  display: flex;
  flex-direction: column;
}

.info {
  width: 200px; /* Fixed width for the info sections */
  text-align: center;
  margin: 0 20px; /* Adjust margin to center the board */
}

.block {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.block:hover {
  background-color: lightblue;
}

.row {
  display: flex;
}

.red {
  color: rgb(255, 140, 0);
}

.blue {
  color: rgb(124, 255, 43);
}
